#header{
    background-color: black;
    height: 100px;
    margin-top: 10px;
}

body{
    background-color: black;
    background-image: url(city5.jpg);
    opacity: 0.7;
}

h1{
    font-size: 200%;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbar{
    background-color: black;
    margin-top: 10px;
    height: 24px;
}

#navbar ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

#navbar ul li{
    display: inline;
}

#navbar ul li a{
    text-align: center;
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left:80px;
    padding-right:80px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbar ul li a:hover{
    color: white;
    background-color: black;
}

#footer{
}



