<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet_about.css') }}">
        <title>voice.com/About</title>
    </head>
    <body>
        <div id="header"><h1>ABOUT  &nbspTHE  &nbspWEBSITE</h1></div>  

        <div id="navbar">
            <ul>
                <li><a href="http://127.0.0.1:5000"><<<< Go back to Home Page</a></li>
                <li><a href="http://127.0.0.1:5000/yolo">The Approach : YOLO</a></li>
                <li><a href="http://127.0.0.1:5000/rec">Try Out the Image Rec!!! >>>></a></li>
            </ul>
        </div>
        <div class="main">
            <p>
                This website aims to build a smart interface that captures the images from the user's smartphone or PC, recognises the objects lying around and tells him/her all about them as they move around. This gives a sense of direction and judgement of motion to any person who needs technical assistance in moving about. The elderly people with limited vision and restricted movement can use this tool indoors to steer clear of imminent obstacles while walking around or moving in a wheelchair.The visually challenged section of our society can benefit from this as this project aims at relieving them the pain of feeling around to avoid unwanted obstacles.
            </p>
            <p>
                Kids can use this as an educational tool to learn the names of the objects at hand, identify them and memorize them. Spellings and pronunciation are an added advantage.
            </p>
        </div>
    </body>
</html>