<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css')}}">
        <title>voice.com</title>
    </head>
    <body>
        <div id="header">
            <h1>voice.com</h1>
        </div>

        <div id="navbar">
            <ul>
                <li><a href="E:\anshuman\Yolo Flask\templates\About.html">About the Website:)</a></li>
                <li><a href="E:\anshuman\Yolo Flask\templates\yolo.html">The Approach : YOLO</a></li>
                <li><a href="E:\anshuman\Yolo Flask\templates\rec.html">Try Out the Image Rec!!!</a></li>
            </ul>
        </div>
        <div id="footer"></div>
    </body>
</html>