<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet_rec.css') }}">
        <title>voice.com/rec</title>
    </head>
    
    <body>
        <div id="header"><h1>Image Recognition</h1></div>
        <div id="navbar">
            <ul>
                <li><a href="index.html">Back to HOME page</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="yolo.html">The Approach : YOLO</a></li>
            </ul>
        </div>
    </body>
</html>