<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet_rec1.css') }}">
        <title>Voice.com/rec</title>
    </head>
    <body>
        <div id="header">
            <h1>Voice.com</h1>
        </div>
        
        <div id="navbar">
            <ul>
                <li><a href="http://127.0.0.1:5000">Back to HOME page</a></li>
                <li><a href="http://127.0.0.1:5000/about">About</a></li>
                <li><a href="http://127.0.0.1:5000/yolo">The Approach : YOLO</a></li>
            </ul>   
        </div>

        
        <div id="withimage">
            <div id="image"><img src='frame.jpg' alt='Image'></div>
        </div>
        
    </body>
</html>